.bottom-container {
    display: flex;
    flex-direction: column;
    .left-nav {
        display: none;
    }
    li:hover {
        cursor:pointer;
    }
}


@media only screen and (min-width: 700px) {
    .bottom-container {
        display: flex;
        flex-direction: row;
        padding: 3.75rem 0.75rem 3.75rem 1.75rem;
        .left-nav{
            display: flex;
            width: 8.2rem;
            position: sticky;            
            align-self: flex-start;
            top: 0;
            ul{
                margin-top: 7rem;
                list-style-type: none;
                padding:0;
                margin-left:0;
                li{
                    padding-left: 0.5rem;
                    font-size: .8rem;
                    color: var(--color-text);
                }
            }
        }
        .main{
            width: 100%;
        }
    }
}



@media only screen and (min-width: 1000px) {
}