.content {
    padding-bottom: 2.25rem;
    h1, h2, p {
        color: var(--color-text);
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2.25rem;
    .text-container{
        margin: 0 auto;
        margin-bottom: 1.5rem;
        .paragraph-title{
            font-family: 'Noto Sans JP', "GT Zirkon";
            font-weight: 700;
            font-size: 1.5rem;
        }
        .paragraph{
            font-family: 'Noto Sans JP', "GT Zirkon Light";
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6875rem;
            margin-bottom: 0;
        }
    }
    .image-container {
        display: block;
        border: 1px solid var(--color-text);
        border-radius: 1rem;
        // margin-bottom: 2.25rem; // remove comment when adding the rest of the App component
        img {
            object-position: bottom;
            border-radius: 1rem;
            aspect-ratio: 16/9;
        }
        .video-control {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 3rem;
            height: 3rem;
            border: 1px solid #ffffff;
            border-radius: 100rem;
            transform: translate(1rem, -4rem);
            transition: background-color 200ms ease-out;
        }
        .video-control:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.2);
        }
    }
    a {
        display: inline-block;
        margin-bottom: 3rem;
    }
    
}
.download {
    border: 1px solid var(--color-text);
    border-radius: 1rem;
    margin-top: 3rem; // comment out when adding the rest of the app component
    a {
        text-decoration: none;
        margin: 0;
    }
    .smack-img {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .download-info {
        padding: 1rem;
        svg {
            margin-bottom: 1rem;
            width: 10rem;
            fill: var(--color-text);
        }
        .app-stores {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            a {
                display: inline-block;
                margin-bottom: 0.5rem;
                .app-store {
                    height: 2.5rem;
                    width: 8.125rem;
                    margin: 0;
                }
            }
        }

    }
}


@media only screen and (min-width: 1000px){
    .content {
        padding-bottom: 5rem;
        max-width: 90rem;
    }
    .container{
        flex-direction: row;
        padding-top: 5rem;
        padding-bottom: 3rem;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        .image-container {
            aspect-ratio: 16/9;
            max-width: 39rem;
        }
        .text-container{
            width: 37.88rem;
            margin: 0 5rem 0 0;
            .paragraph {
                margin-bottom: 0;
            }
        }
        a {
            margin-right: 17.4%;
            margin-bottom: 0;
        }
    }
    .download {
        display: flex;
        .smack-img {
            border-radius: 1rem 0 0 1rem;
            width: 32rem;
        }
        .download-info {
            padding: 2.5rem 7.5rem;
            svg {
                width: 15rem;
                margin-bottom: 2rem;
            }
        }
    }
}

// @media only screen and (min-width: 1400px){
//     .container{
//         .text-container{
//             width: 100%;
//             margin-right: 2rem;
//             .section{
//                 flex-direction: row;
//                 justify-content: space-between;
//                 .paragraph{
//                     width: 48%;
//                 }
//             }
//         }
//     }
// }