.container{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    .row{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        margin-top: 1.5rem;
        .label{
            font-family: 'Noto Sans JP', sans-serif;
        }
        .value{
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 400;
            margin-bottom: 1.5rem;;
        }
    }
}

@media only screen and (min-width: 1000px){
    .container{
        padding-left: 8.375rem;
        .row{
            flex-direction: row;
            .label{
                width: 10rem;
            }
            .value{
                width: 90%;
            }
        }
    }
}