.toggle {
    circle {
        stroke: var(--color-blackwhite) !important;
    }
    path {
        fill: var(--color-blackwhite) !important;
        stroke: var(--color-blackwhite) !important;
    }
}