.logo-container {
    a svg {
        width: 5.69rem;
        z-index: 7;
        path {
            fill: var(--color-text);
        }
    }
    .slogan {
        display: none;
    }
}
.container{
    background: var(--color-background);
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 6;
    .menu-icon {
        div {
            background-color: var(--color-text);
        }
    }
    .mobile-menu {
        nav {
            background-color: var(--color-background);
        }
        ul li a {
            color: var(--color-text);
        }
        ul li svg {
            path {
                transition: color 0.3s ease-in;
                fill: var(--color-text);
                stroke: var(--color-text);
            }
            circle {
                transition: color 0.3s ease-in;
                stroke: var(--color-text);
            }
        }
    }
    .image{
        z-index: 7;
    }
    .nav{
        display: none;
    }
}
.social-media {
    padding: 0;
    margin-left: 1.45rem;
    .nav-link svg {
        margin-right: 2.18rem;
    }
}


@media only screen and (min-width: 850px){
    .logo-container {
        display: flex;
        align-items: center;
        .slogan {
            display: block;
            font-size: 0.875rem;
            color: var(--color-text);
            line-height: 150%;
            margin-left: 3rem;
        }
    }

    .container{
        padding: 1.5rem 1.25rem 0rem 1.25rem;
        .inner-cont {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-text);

        }
        .menu-icon{
            display: none;
        }
        .mobile-menu{
            display: none;
        }
        .nav{
            display: flex;
            justify-content: flex-end;
            .nav-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                margin-bottom: 1rem;
                .nav-item{
                    margin-bottom: 0;
                    .nav-link{
                        color: var(--color-text);
                        cursor: pointer;
                        text-decoration: none;
                        :visited{
                            color: var(--color-text);
                            text-decoration: none;
                        }
                    }
                    svg {
                        cursor: pointer;
                        path {
                            transition: all 0.3s ease-in;
                            fill: var(--color-text);
                            stroke: var(--color-text);
                        }
                        circle {
                            transition: all 0.3s ease-in;
                            stroke: var(--color-text);
                        }
                    }
                }
                .nav-item+.nav-item{
                    margin-left: 1rem;
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px){
    .container{
        .nav{
            .nav-list{
                .nav-item+.nav-item{
                    margin-left: 1.5rem;
                }
            }
        }
    }
}