.container{
    background: var(--color-background);
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 6;
    .menu-icon {
        div {
            background-color: var(--color-text);
        }
    }
    .mobile-menu {
        nav {
            background-color: var(--color-background);
        }
        ul li a {
            color: var(--color-text);
        }
        ul li svg {
            path {
                fill: var(--color-text);
                stroke: var(--color-text);
            }
        }
    }
    .image{
        z-index: 7;
    }
    .nav{
        display: none;
    }

    a svg {
        path {
            fill: var(--color-text);
        }
    }

    a svg.logo {
        path {
            fill: var(--color-blackwhite);

        }
    }

    a svg.social-icon {
        path {
            fill: var(--color-background);
            stroke: var(--color-text);

        }
    }
}

a svg {
    margin-right: 0.4rem;
}

@media only screen and (min-width: 700px){
    .container{
        padding: 2rem 2rem 0 2rem;
        .menu-icon{
            display: none;
        }
        .mobile-menu{
            display: none;
        }
        .nav{
            display: flex;
            justify-content: flex-end;
            margin-top: -1.5rem;
            border-bottom: 1px solid var(--color-text);
            .nav-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style-type: none;
                margin-bottom: 2rem;
                .nav-item{
                    margin-bottom: 0;
                    .nav-link{
                        color: var(--color-text);
                        cursor: pointer;
                        text-decoration: none;
                        :visited{
                            color: var(--color-text);
                            text-decoration: none;
                        }
                    }
                    svg {
                        cursor: pointer;
                        path {
                            transition: all 0.3s ease-in;
                            fill: var(--color-text);
                        }
                    }
                }
                .nav-item+.nav-item{
                    margin-left: 1rem;
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px){
    .container{
        .nav{
            .nav-list{
                .nav-item+.nav-item{
                    margin-left: 3rem;
                }
            }
        }
    }
}