@import url('./typography.css');

.content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    .left-nav {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        .sidebar {
            margin: 0;
            list-style-type: none;
            .list-item {
                display: inline-block;
                margin: 0;
                font-weight: 400;
                svg {
                    margin-right: 0.5rem;
                }
            }
            .list-item + .list-item {
                margin-left: 1.5rem;
            }
        }
    }
    li:hover {
        cursor:pointer;
    }
    .posts {
        display: flex;
        flex-direction: column;
    }
    .view-more {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        border: 1px solid var(--color-text);
        background-color: var(--color-background);
        transition: all .3s ease-in;
        h3 {
            color: var(--color-text);
            font-size: 1rem;
            line-height: 1.69rem;
            margin: 0;
        }
        .plus {
            margin-left: 0.5rem;
            width: 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            svg {
                transition: transform .4s ease;
                path {
                    fill: var(--color-text);
                }
            }
        }
    }
    .view-more:hover {
        cursor: pointer;
        background-color: var(--color-text);
        border-color: var(--color-background);
        h3 {
            color: var(--color-background);
        }
        .plus {
            svg {
                transform-origin: center;
                transform: rotate(90deg);
                path {
                    fill: var(--color-background);
                }
            }
        }
    }
}


@media only screen and (min-width: 700px) {
    .content {
        display: flex;
        flex-direction: row;
        .left-nav{
            display: flex;
            position: sticky;
            min-width: 10%;
            align-self: flex-start;
            top: 0;
            .sidebar{
                margin-top: 7rem;
                list-style-type: none;
                padding:0;
                .list-item{
                    display: block;
                    padding-left: 1rem;
                    font-size: .875rem;
                    color: var(--color-text);
                }
                .list-item + .list-item{
                    margin: 0;
                }
            }
        }
        .posts{
            display: grid;
            column-gap: 1rem;
            grid-template-columns: 1fr 1fr;
            justify-content: left;
        }
    }
}



@media only screen and (min-width: 1000px) {
    .content{
        max-width: 92rem;
        .posts{
            column-gap: 3rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .main {
        margin: 0 0.8rem 6.5rem 0.8rem;
    }
}