@import url('./typography.css');

.bottom-container {
    display: flex;
    flex-direction: column;
    .left-nav {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .bottom-container {
        display: flex;
        flex-direction: row;
        padding: 3.75rem;
        .left-nav{
            display: flex;
            margin-top: 7rem;
            margin-bottom: 3rem;
            width: 15rem;
            position: sticky;
            ul{
                list-style-type: '\2605';
                position: fixed;
                li{
                    padding-left: 1rem;
                    font-size: .8rem
                }
            }
        }
        .main{
            width: 90%;
        }
    }
}