.container{
    display: flex;
    flex-direction: column;
    .title{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        margin-top: 2rem;
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image-container{
            margin: 0 auto 2rem auto;
        }
        .text-container{
            margin-bottom: 2.25rem;
            .section-title{
                display: flex;
                flex-direction: column;
                span{
                    font-family: 'GT Zirkon', sans-serif;
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    margin-bottom: .5rem;
                }
                h3{
                    
                    font-family: 'Noto Sans JP', sans-serif;
                    font-family: 700;
                    font-size: 0.875rem;
                    line-height: 2rem;
                }
            }
            p{
                font-family: 'Noto Sans JP', sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 2rem;
            }
            a{
                text-decoration: none;
                border: 1px solid var(--color-text);
                background-color: transparent;
                padding: .75rem 1rem;
                font-family: 'GT Zirkon', sans-serif;
                cursor: pointer;
                color: var(--color-text);
                background: linear-gradient(to right, var(--color-text) 50%, var(--color-background) 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .2s ease-out;
            }
            a:visited {
                color: var(--color-text);
            }
            a:hover{
                background-position: left bottom;
                background-color: var(--color-text);
                color: var(--color-background);
                border: 1px solid var(--color-background);
            }
        }
    }
    .title, span, h3, p {
        color: var(--color-text);
    }
}

@media only screen and (min-width: 1000px){
    .container{
        padding-top: 2.5rem;
        max-width: 84rem;
        .title{
            font-size: 1.5rem;
            margin-bottom: 4.5rem;
        }
        .section{
            flex-direction: row-reverse;
            padding-top: 0;
            padding-bottom: 5rem;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            
            .image-container{
                height: 400px;
                max-width: 500px;
                object-fit: contain;
                object-position: center;
                margin: 0;
                padding: 0;
            }
            
            .text-container{
                width: 600px;
                margin: 0 5rem 0 0;
                .section-title{
                    flex-direction: row;
                    align-items: baseline;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    span{
                        margin-bottom: 0;
                        margin-right: 1rem;
                    }
                    h3{
                        font-size: 1rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
        :nth-child(3){
            flex-direction: row;
            .text-container{
                margin: 0 0 0 5rem;
            }
        }
    }
}