@import url('./typography.css');

.container{
    margin: 3rem auto;
    padding: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    .empty{
        display: none;
    }
    .top-text{
        color: var(--color-text);
        font-size: 2rem;
        line-height: 3rem;
        font-family: 'GT Zirkon';
        z-index: 2;
        #first-break{
            display: inline;
        }
        #second-break{
            display: none;
        }
    }
    .box {
        position: absolute;
        bottom: 0;
        border-top: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
        border-right: 1px solid var(--color-text);
        border-radius: 12px 12px 0px 0px;
        z-index: 1;
        opacity: 0.6;
        .inner-box {
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 12px 12px 0px 0px;
            position: absolute;
        }
        .inner-box-round {
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 12px;
            position: absolute;
        }
    }
}

@media only screen and (min-width: 700px){
    .container{
        padding: 3.75rem;
        flex-direction: row;
        position: relative;
        .empty{
            display: flex;
            content: " ";
            width: 15rem;
        }
        .top-text{
            // width: 90%;
            padding-left: 1rem;
            #first-break{
                display: none;
            }
            #second-break{
                display: inline;
            }
        }
    }  
}

@media only screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        padding: 8.75rem 0;
        overflow: hidden;
    }
}

//     @media only screen and (min-width: 1200px){
//         .container{
//             .top-text{
//                 padding-left: 15rem;
//             }
//         }
        
//     }
// }