@import url('./typography.css');

.container{
    margin: 3rem auto;
    padding: 1rem;
    display: flex;
    .top-text{
        font-size: 2rem;
        line-height: 3rem;
        font-family: 'GT Zirkon';
        #first-break{
            display: inline;
        }
        #second-break{
            display: none;
        }
    }
}

@media only screen and (min-width: 700px){
    .container{
        padding: 1rem;
        .top-text{
            padding-left: 15rem;
            #first-break{
                display: none;
            }
            #second-break{
                display: inline;
            }
        }
    }
    
}