.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image-container{
        margin: 0 auto 2.25rem auto;
    }
    .text-container{
        margin: 0 auto;
        margin-top: 2.25rem;
        .paragraph-title{
            font-family: 'Noto Sans JP', "GT Zirkon";
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .section{
            display: flex;
            flex-direction: column;
            .paragraph{
                font-family: 'Noto Sans JP', "GT Zirkon Light";
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.53rem;
                margin-bottom: 1rem;
            }
            .paragraph:last-child {
                margin-bottom: 1.625rem;
            }
        }
        .paragraph-title, .paragraph {
            color: var(--color-text);
        }
    }
}

@media only screen and (min-width: 1000px){
    .container{
        flex-direction: row;
        padding-top: 5rem;
        padding-bottom: 5rem;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        max-width: 84rem;
        .image-container{
            width: 37.5rem;
            margin: 0;
        }
        .text-container{
            width: 37.5rem;
            margin: 0 5rem 0 0;
            .section .paragraph {
                font-size: 1rem;
                line-height: 1.75rem;
                margin-bottom: 1rem;
            }
        }
    }
}

// @media only screen and (min-width: 1400px){
//     .container{
//         .text-container{
//             width: 100%;
//             margin-right: 2rem;
//             .section{
//                 flex-direction: row;
//                 justify-content: space-between;
//                 .paragraph{
//                     width: 48%;
//                 }
//             }
//         }
//     }
// }